* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: rgb(247, 247, 247);
}

@font-face {
  font-family: "BeVietnamPro";
  src:
  url('../fonts/BeVietnamPro-Bold.ttf') format('tff'),
}

body {
  overflow: hidden;
  position: relative;
  height: 100vh;
  margin: 0;
  margin-top: -15vh;
}

header {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  /* text-align: center; */
}

h1 {
  font-family: 'BeVietnamPro', sans-serif;
  font-size: 24px;
  line-height: 1.3em;
  margin-bottom: 5vh;
}

h1 .subtitle {
  font-weight: normal;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'BeVietnamPro', sans-serif;
  font-size: 45px;
  letter-spacing: -0.01em;
  line-height: 160%;
}

li {
  list-style-type: none; /* Removes bullets */
  padding: 0; /* Removes default padding */
  margin: 0;
}

.none {
  cursor: help;
}

@media screen and (orientation:portrait) {}

@media screen and (max-device-width:850px) and (orientation:landscape) {}

@media screen and (max-width: 600px) {
  
  h1 {
    margin-bottom: 8vh;
    font-size: 16px;
    letter-spacing: 0em;
  }
  
  a {
    font-size: 30px;
    line-height: 140%;
    letter-spacing: -.02em;
  }

}